.single-comment-wrapper {
    display: flex;
}
.blog-comment-img {
    flex: 0 0 135px;
    margin-right: 28px;
}
.blog-comment-img > img {
    width: 100%;
}
.blog-comment-content>h4 {
    color: #444;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.blog-comment-content>span {
    color: #444;
    display: block;
    font-size: 15px;
    margin: 6px 0 8px;
}
.blog-comment-content>p {
    font-size: 14px;
    margin: 0 0 8px;
}