/*------------------------
    2. Home page 1
--------------------------*/

/* header top */
.welcome-area > p {
    color: #fff;
    margin: 14px 0 0;
}
.account-curr-lang-wrap ul li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 38px;
    position: relative;
}
.account-curr-lang-wrap ul li:last-child {
    margin-right: 0px;
}
.account-curr-lang-wrap ul li a {
    color: #fff;
    display: inline-block;
    line-height: 52px;
}
.account-curr-lang-wrap ul li:hover > a {
    color: #ccc;
}
.account-curr-lang-wrap ul li a i {
    font-size: 10px;
    margin-left: 8px;
    position: relative;
    top: 0;
}
.account-curr-lang-wrap ul li a img {
    margin-right: 6px;
    margin-top: -3px;
}
.account-curr-lang-wrap ul li ul {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
    left: 0;
    padding: 8px 12px 10px;
    position: absolute;
    text-align: left;
    top: 100%;
    transform: rotateX(90deg);
    transform-origin: center top 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 125px;
    z-index: 220;
}
.account-curr-lang-wrap ul li:hover ul {
    transform: rotateX(0deg);
    visibility: visible;
}
.account-curr-lang-wrap ul li ul li {
    display: block;
    margin-right: 0px;
}
.account-curr-lang-wrap ul li ul li a {
    display: block;
    font-size: 12.5px;
    line-height: 32px;
    padding: 0;
    text-transform: capitalize;
    color: #383838;
}
.account-curr-lang-wrap ul li ul li a img {
    margin-right: 5px;
}
.account-curr-lang-wrap ul li ul li:hover > a {
    color: #7e4c4f;
}
.account-curr-lang-wrap > ul > li::before {
    background-color: #fff;
    content: "";
    height: 12px;
    position: absolute;
    right: -22px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}
.account-curr-lang-wrap ul li:last-child::before {
    display: none;
}
.account-curr-lang-wrap ul li.top-hover ul li:hover > a {
    padding-left: 7px;
}

/* header bottom */
.stick .logo.pt-39 {
    padding-top: 23px;
}
.main-menu li {
    display: inline-block;
    list-style: outside none none;
    padding: 0 16px;
    position: relative;
}
.main-menu li a {
    color: #383838;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 120px;
    text-transform: uppercase;
}
.main-menu li:hover>a {
    color: #7e4c4f;
}
.main-menu ul li.mega-menu-position {
    position: static;
}
.main-menu nav>ul>li>ul.submenu {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
    display: block;
    left: 0;
    opacity: 0;
    padding: 20px 20px 24px;
    position: absolute;
    text-align: left;
    top: 120%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 190px;
    z-index: 999;
}
.main-menu ul li ul>li {
    display: block;
    padding: 0;
}
.main-menu ul li ul>li a {
    color: #555;
    display: block;
    line-height: 31px;
    text-transform: capitalize;
}
.main-menu nav>ul>li>ul.mega-menu {
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #dcdcdc;
    box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
    display: block;
    left: 0;
    opacity: 0;
    padding: 30px 30px 34px 0;
    position: absolute;
    text-align: left;
    top: 120%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 9999;
}
.main-menu nav>ul>li:hover>ul.submenu,
.main-menu nav>ul>li:hover>ul.mega-menu {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.main-menu nav>ul>li>ul.mega-menu>li {
    display: inline-block;
    float: left;
    padding-left: 30px;
    width: 25%;
}
.main-menu ul li ul>li.mega-menu-title {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.mega-menu img {
    width: 100%;
}
.transparent-bar.stick {
    animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
    background-color: #fff;
    border-bottom: 0 solid #4a90e2;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.stick .main-menu li a {
    line-height: 90px;
}
.stick .main-menu li ul li a {
    line-height: 31px;
}
.stick .logo.pt-25 {
    padding-top: 12px;
}
.stick .search-login-cart-wrapper {
    padding: 30px 0 0;
}

/* header right */
.search-login-cart-wrapper {
    float: right;
    padding: 46px 14px 0 0;
}
.same-style {
    display: inline-block;
    margin-left: 20px;
}
.same-style:first-child {
    margin-left: 0px;
}
.same-style>a {
    color: #545454;
    font-size: 24px;
}
.same-style>button {
    background-color: transparent;
    border: medium none;
    padding: 0;
    cursor: pointer;
    position: relative;
}
.same-style button i {
    color: #545454;
    font-size: 24px;
    transition: all .3s ease 0s;
}
.same-style button:hover i,
.same-style>a:hover {
    color: #7e4c4f;
}
.header-cart:hover button i {
    color: #7e4c4f;
}

/* header cart */
button.icon-cart span.count-style {
    background-color: #7e4c4f;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 22px;
    line-height: 23px;
    position: absolute;
    right: -13px;
    top: -6px;
    width: 22px;
}
.shopping-cart-content {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    display: none;
    padding: 31px 35px 10px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 340px;
    z-index: 9999;
}
.shopping-cart-content ul li {
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.shopping-cart-img {
    flex: 0 0 82px;
    margin-right: 15px;
}
.shopping-cart-img img {
    width: 100%;
}
.shopping-cart-title>h4 {
    font-size: 15px;
    line-height: 18px;
    margin: 0;
}
.shopping-cart-title>h4 a {
    color: #242424;
}
.shopping-cart-title>h4 a:hover {
    color: #7e4c4f;
}
.shopping-cart-title>h6 {
    color: #777;
    font-size: 13px;
    margin: 5px 0 10px;
}
.shopping-cart-title>span {
    color: #777;
    font-size: 14px;
}
.shopping-cart-delete {
    display: flex;
    flex-grow: 100;
    justify-content: flex-end;
}
.shopping-cart-delete > a {
    border: 1px solid #666;
    border-radius: 50px;
    color: #333;
    display: inline-block;
    font-size: 8px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    width: 20px;
}
.shopping-cart-delete>a:hover {
    border: 1px solid #7e4c4f;
    color: #7e4c4f;
}
.shopping-cart-total {
    margin: 25px 0 0;
}
.shopping-cart-total>h4 {
    font-size: 15px;
    margin-bottom: 17px;
}
.shopping-cart-total>h4:last-child {
    margin-bottom: 0px;
}
.shopping-cart-total>h4 span {
    float: right;
    color: #666;
}
.shopping-cart-total>h4 span.shop-total {
    color: #7e4c4f;
    font-weight: 500;
}
.shopping-cart-btn {
    margin-top: 23px;
}
.shopping-cart-btn a {
    margin-bottom: 15px;
}
.shopping-cart-btn a {
    background-color: transparent;
    border: 2px solid #eeeeee;
    border-radius: 50px;
    color: #000101;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding: 15px 20px 14px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.shopping-cart-btn a:hover {
    background-color: #7e4c4f;
    border: 2px solid #7e4c4f;
    color: #fff;
}

/* header search */
.header-search {
    position: relative;
}
.header-search .search-toggle i {
    display: block;
}
.header-search .search-toggle .s-close {
    opacity: 0;
}
.header-search .search-toggle i.s-close {
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 4px;
}
.header-search .search-toggle.open .s-close {
    opacity: 1;
}
.header-search .search-toggle.open .s-open {
    opacity: 0;
}
.header-search .search-content {
    background-color: transparent;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 340px;
    z-index: -9999;
}
.header-search .search-content.open {
    opacity: 1;
    right: 100%;
    visibility: visible;
    z-index: 9999;
}
.header-search .search-content form {
    overflow: hidden;
    position: relative;
}
.header-search .search-content form input {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    line-height: 30px;
    padding: 0 55px 0 20px;
    width: 100%;
}
.header-search .search-content form button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: #ddd;
    border-image: none;
    border-radius: 0 5px 5px 0;
    border-style: none none none solid;
    border-width: medium medium medium 1px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 100%;
    padding: 0 14px;
    position: absolute;
    right: 0;
    top: 2px;
    transition: all 0.3s ease 0s;
}
.header-search .search-content form button i {
    font-size: 15px;
}